<p style="color: green"><%= notice %></p>

<h1>Reserves</h1>

<div id="reserves">
  <% @reserves.each do |reserve| %>
    <%= render reserve %>
    <p>
      <%= link_to "Show this reserve", reserve %>
    </p>
  <% end %>
</div>

<%= link_to "New reserve", new_reserve_path %>
