<a href="#" class="header__avatar--<%= type %>" data-bs-toggle="dropdown" aria-expanded="false">
  <%= image_tag "avatar_placeholder.png", class: "rounded-circle", size: "48", alt: "Profile picture" %>
</a>
